/* Стили для секции Услуг */
.services {
    margin-bottom: 40px;
}

/* Заголовок и описание секции */
.services__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.services__description {
    font-size: 16px;
    color: #6F6F6F;
    margin-bottom: 20px;
    text-align: center;
}

/* Контейнер с карточками */
.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Карточки услуг */
.services__card {
    width: calc(25% - 20px); /* 4 колонки на широких экранах */
    background: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 200px; /* Минимальная высота карточки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Изображение в карточке */
.services__card-image {
    max-width: 80%; /* Изображение занимает 80% ширины карточки */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Название услуги */
.services__card-name {
    font-size: 20px;
    color: #474747;
    font-weight: 600;
    margin: 0;
    transition: color 0.3s ease;
}

/* Ховер эффект для карточек */
.services__card:hover {
    background-color: #38BCEA;
    color: #FFFFFF;
}

/* Адаптивность для маленьких экранов */
@media (max-width: 1024px) {
    .services__card {
        width: calc(33.33% - 20px); /* 3 колонки на экранах до 1024px */
    }
}