.main__certificates {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

}

.main__certificates-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main__contact {
    background-color: #E6F2FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main__contact a {
    color: #007BFF;
    text-decoration: none;
}

.main__contact a:hover {
    text-decoration: underline;
}