.main__consultation {
    background-color: #F2F3F5; 
    padding: 20px;
}

.main__consultation_input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

.main__consultation-button,
.main__appointment-button {
    margin-top: 10px;
    background-color: #38BCEA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main__consultation-button:hover,
.main__appointment-button:hover {
    background-color: #007BFF; 
}

.main__consultation_note {
    margin-top: 15px; 
    font-weight: bold; 
}
