/* Стили для секции Онлайн консультации */
.consultation {
    margin-bottom: 40px;
    text-align: center;
}
.consultation__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.consultation__input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
}
.button {
    background: #85befb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background: #95c3f4;
}