.header__logo {
    opacity: 1; /* Установите на 1, чтобы логотип был видимым */
}

/* Основные стили для хедера */
.header {
    background-color: #ffffff;
    padding: 20px; /* Отступы сверху и снизу */
    display: flex; /* Для размещения логотипа и навигации в одну строку */
    align-items: center; /* Вертикальное центрирование содержимого */
    justify-content: space-between; /* Распределение дочерних элементов */
}

/* Стили для навигационного меню */
.nav {
    flex: 1; /* Занять оставшееся пространство */
}

/* Стили для навигационных секций */
.nav__sections {
    list-style: none; /* Убрать маркеры у списка */
    padding: 0; /* Убрать внутренние отступы */
    margin: 0; /* Убрать внешние отступы */
    display: flex; /* Разместить пункты списка в строку */
}

/* Стили для элементов навигации */
.nav__item {
    margin: 0 35px; /* Горизонтальные отступы между элементами навигации */
}

/* Стили для ссылок в навигации */
.nav__item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: left;
    text-decoration: none; /* Убрать подчеркивание */
    color: #AAAAAA; /* Темно-голубой цвет текста */
}

/* Стили для ссылок при наведении */
.nav__item a:hover {
    color: #01678A; /* Цвет текста при наведении */
}

/* Стили для кнопки записи на приём */
.form__appointment-button {
    background-color:#38BCEA;
    color: #ffffff; /* Цвет текста кнопки */
    border: none; /* Убрать рамку */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 5px; /* Закругленные углы */
    font-size: 15px; /* Размер шрифта */
}

/* Стили для кнопки при наведении */
.form__appointment-button:hover {
    background-color: #014f6b; /* Темнее цвет фона при наведении */
}