.section.promo {
    position: relative; /* Устанавливаем относительное позиционирование */
    display: flex; /* Flexbox для расположения элементов в ряд */
    align-items: center; /* Вертикальное центрирование */
}

.promo__content {
    position: relative; /* Относительное позиционирование для дочерних элементов */
    max-width: 50%; /* Ограничение ширины текста */
    z-index: 2; /* Увеличение z-index, чтобы текст был выше изображения */
    padding: 20px; /* Отступ вокруг текста */
}

.promo__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 72px;
    font-weight: 700;
    line-height: 88px;
    color: #25292d;
}

.promo__description {
    color: #333; /* Цвет описания */
    font-size: 1.2em; /* Размер шрифта для описания */
}

.promo__image {
    width: 100%; /* Занимаем всю ширину контейнера */
    height: auto; /* Сохраняем пропорции */
    position: absolute; /* Абсолютное позиционирование для взаимосвязи с родительским элементом */
    top: 0;
    left: 0; /* Устанавливаем изображение на фон */
    z-index: 1; /* Уменьший z-index, чтобы изображение было ниже текста */
    border-bottom-left-radius: 200px;
}