/* Стили для секции Услуг с фиксированным отображением по 3 карточки в ряд */
.services {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Заголовок и описание секции */
.services__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Настройки для свайпера - фиксированная ширина */
.servicesSwiper {
    width: auto;
    padding: 20px 0 50px;
    overflow: hidden;
    padding-bottom: 20px;
}

/* Обеспечиваем фиксированное отображение по 3 карточки */
.swiper-slide {
    width: calc(30% - 20px) !important;
    /* Уменьшаем ширину карточек */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(30% - 20px) !important;
}

/* Карточки услуг внутри свайпера */
.swiper-slide .services__card {
    width: auto;
    height: auto;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    /* Содержимое будет располагаться вертикально */
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    max-height: auto;
}

/* Изображение в карточке */
.services__card-image {
    max-width: auto;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Название услуги */
.services__card-name {
    font-size: 20px;
    color: #474747;
    font-weight: 600;
    margin: 0;
    transition: color 0.3s ease;
}

/* Ховер эффект для карточек */
.services__card:hover {
    background-color: #38BCEA;
    color: #FFFFFF;
}

.services__card:hover .services__card-name {
    color: #FFFFFF;
}

/* Стили для навигации свайпера */
.swiper-button-next,
.swiper-button-prev {
    color: #38BCEA;
    top: 50%;

    /* Стрелки всегда поверх карточек */
    width: 40px;
    height: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 10px;
}


.swiper-pagination {
    bottom: 50px;
    text-align: center;
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background: #38BCEA;
}

@media (max-width: 1024px) {
    .services__card {
        width: calc(33.33% - 20px);
        /* 3 колонки на экранах до 1024px */
    }
}