/* Контейнер-обертка */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Кнопки */
.button {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF; /* Белый цвет текста */
    
    background-color: #38BCEA; /* Цвет фона */
    border: none; /* Убираем рамку */
    border-radius: 0px 0px 0px 0px; /* Скругление только у верхнего левого угла */
    
    cursor: pointer;
    
    width: 220px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
}


